<!DOCTYPE html>
<html>
	<head>
		<title>Database</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <LINK href="styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
		
	<body style="background-color:green;">
	
	<div class="container">      
		<h1>Members</h1>	
		<table class="table table-bordered">
			<thead>
				<tr class="warning">
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Email</th>
					<th>Password</th>
					<th>Instrument</th>
					<th>Region</th>
					<th>Genre</th>
					<th>Level</th>
					<th>Team</th>
					<th>Answer status</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<POSTuser.length; i++) {%>
					<tr class="info">
					<% for(var j=0; j<POSTuser[i].length; j++) {%>
						<td>
						<%= POSTuser[i][j] %>
						</td>
					<% } %>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	
	</body>
</html>
