<!DOCTYPE html>
<html>

    <head>
        <title>Kezdőlap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <LINK href="styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color:powderblue;">
        <nav class="navbar navbar-inverse">
            <div class="fulek">
                <a href="ertesites"><button type="button" class="btn btn-default ful">NOTIFICATIONS</button></a>
                <a href="profile"><button type="button" class="btn btn-default ful">PROFILE</button></a>
                <a href="lista"><button type="button" class="btn btn-default ful">LIST</button></a>
            </div>
        </nav>
        <div class="container">
			<h2>Csoport</h2>
			<% if(POSTmembers.length==0) {%>
				<p>Sajnos még nincs csapatod.</p>
			<%} else {%>
            <p>Tagok:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
						<th>Instrument</th>
						<th>Status</th>
                    </tr>
                </thead>
                <tbody>
					<% for(var i=0; i<POSTmembers.length; i++) { %>
						<tr>
							<% for(var j=0; j<POSTmembers[i].length; j++) { %>
								<td>
									<%=POSTmembers[i][j]%>
								</td>
							<% } %>
						</tr>
					<% } %>
                </tbody>
            </table>
			<% } %>
        </div>
    </body>

</html>
