<!DOCTYPE html>
<html>

    <head>
        <title>Kezdőlap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <LINK href="styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color:powderblue;">
        <nav class="navbar navbar-inverse">
            <font color="yellow" size="16">
                <div class="container mindegy">
                    Hello
                </div>
            </font>
        </nav>
        <div class="container mindegy">
            <div class="row">
                <div class="col-md-8" style="text-align: left;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet leo eget diam vestibulum sollicitudin. Phasellus
                    euismod enim in urna ullamcorper porta. Curabitur consectetur libero nulla, ac luctus purus aliquam eu.
                    Cras a velit sed neque volutpat maximus. Phasellus consequat tortor nec sem molestie, sit amet dictum
                    sapien rutrum. Cras quis enim dignissim, ornare massa imperdiet, venenatis nisl. In hac habitasse platea
                    dictumst. Nam sapien metus, consectetur at condimentum at, pellentesque a dui. Duis dapibus suscipit
                    sem nec tristique. Nam aliquet elementum aliquam. Nam ut fringilla odio. Aenean tempor tincidunt suscipit.
                    Aenean auctor sollicitudin mauris, nec porta lorem pulvinar vitae.
                </div>
                <div class="kiskutya">
                    <button type="button" class="btn btn-default" onclick="location.href='signin'">SIGN IN</button>
                    <button type="button" class="btn btn-default" onclick="location.href='signup'">SIGN UP</button>
                </div>
            </div>
        </div>
    </body>

</html>
