<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="styles.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body class="welcome-page">
		<div class="welcome-message container">
			<h2> Do you want to form an awesome band? You're on the right place!</h2>

			<div class="welcome-buttons container">
				<button type="button" class="btn btn-default home-button" onclick="location.href='signin'"> Sign In </button>
				or
				<button type="button" class="btn btn-default home-button" onclick="location.href='signup'"> Sign Up </button>
			</div>
		</div>
    </body>

</html>