<!DOCTYPE html>
<html>
    <head>
        <title>Band Search</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="/">Band Search</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" method="post" action="/list">
						<div class="form-group">
							<input type="text" name="list_search" class="form-control" placeholder="Search members">
						</div>
						
						<button type="submit" class="btn btn-default">Submit</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/list">List</a></li>
						<li><a href="/notifications">Notifications</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								&#8801
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/profile">My Profile</a></li>
								<li><a href="/settings">Settings</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
                <div class="col-md-6" style="text-align: left;">
					<div class="form-group">
						<label for="firstname">Firstname: </label>
						<input type="text" name="firstname" class="form-control" placeholder=<%=POSTuserdata.firstname%>>
					</div>

					<div class="form-group">
						<label for="firstname">Lastname: </label>
						<input type="text" name="lastname" class="form-control" placeholder=<%=POSTuserdata.lastname%>>
					</div>

					<div class="form-group">
						<label for="firstname">New email: </label>
						<input type="text" name="email" class="form-control" placeholder=<%=POSTuserdata.email%>>
					</div>

					<div class="form-group">
						<label for="instrument">Instrument: </label>
						<select class="form-control" name="instrument">
							<option>Accordion</option>
							<option>Bass Guitar</option>
							<option>Cello</option>
							<option>Clarinet</option>
							<option>DJ</option>
							<option>Double Bass</option>
							<option>Drums</option>
							<option>Guitar</option>
							<option>Harp</option>
							<option>Piano</option>
							<option>Saxophone</option>
							<option>Vibraphone</option>	
							<option>Viola</option>
							<option>Violin</option>
						</select>
					</div>

					<div class="form-group">
						<label for="region">Region: </label>
						<select class="form-control" name="region">
							<option>Bács-kiskun megye</option>
							<option>Baranya megye</option>
							<option>Békés megye</option>
							<option>Borsod-Abaúj-Zemplén megye</option>
							<option>Csongrád megye</option>
							<option>Fejér megye</option>
							<option>Győr-Moson-Sopron megye</option>
							<option>Hajdú-Bihar megye</option>
							<option>Heves megye</option>
							<option>Jász-Nagykun-Szolnok megye</option>
							<option>Komárom-Esztergom megye</option>
							<option>Nógrád megye</option>
							<option>Pest megye</option>
							<option>Somogy megye</option>
							<option>Szabolcs-Szatmár-Bereg megye</option>
							<option>Tolna megye</option>
							<option>Vas megye</option>
							<option>Veszprém megye</option>
							<option>Zala megye</option>
						</select>
					</div>
				<div class="form-group">
					<label for="genre">Genre: </label>
					<select class="form-control" name="genre">
						<option>Blues</option>
						<option>Classical Music</option>
						<option>Country</option>
						<option>Electronic Music</option>
						<option>Folk</option>
						<option>Heavy Metal</option>
						<option>Hip Hop</option>
						<option>Jazz</option>
						<option>Latin</option>
						<option>Pop</option>
						<option>Rock</option>
						<option>R&B and Soul</option>
					</select>
				</div>

				<div class="form-group">
					<label for="level">Level: </label>
					<select class="form-control" name="level">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
					<p style="font-style: italic; font-size: small; font-weight: lighter; margin-top: 2px">1-beginner 10-professional</p>
				</div>

				<div class="form-group">
					<label for="description">Description: </label>
					<textarea class="form-control" name="description" rows="4" cols="50"></textarea>
				</div>

				<button type="button" class="btn btn-success"> Accept </button>

                </div>
                <div class="col-md-6">
                    <img src="<%=POSTuserdata.profilepicture%>" alt="No Image!" style="width:300pt; margin-bottom: 10pt">
                    <form method="post" enctype="multipart/form-data" action="/upload">
                        <input type="file" name="avatar" style="margin-bottom: 5pt">
                        <input type="submit" value="Submit" class="btn btn-default">
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>