<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	
	<body class="welcome-page">
	<div class="signin-container container">
		<h2 class="text-center"> Sign Up</h2>
		<form class="signin-form center-block" method="post" action="/signup">
			<div class="form-group">
				<label for="first-name"> Firstname: </label>
				<input type="text" class="form-control" name="firstname">
			</div>

			<div class="form-group">
				<label for="last-name">Lastname: </label>
				<input type="text" class="form-control"  name="lastname">
			</div>

			<div class="form-group">
				<label for="email">Email: </label>
				<input type="email" class="form-control" name="email">
			</div>

			<div class="form-group">
				<label for="password">Password: </label>
				<input type="password" class="form-control" name="pw">
			</div>

			<div class="form-group">
				<label for="instrument">Instrument: </label>

				<select class="form-control" name="instrument">
					<option>Piano</option>
					<option>Guitar</option>
				</select>
			</div>

			<div class="form-group">
				<label for="region">Region </label>
				<input type="text" class="form-control" name="region">
			</div>

			<div class="form-group">
				<label for="genre">Genre: </label>
				<input type="text" class="form-control" name="genre">
			</div>

			<div class="form-group">
				<label for="level">Level: </label>
				<input type="text" class="form-control" name="level">
			</div>

			<button type="submit" class="btn btn-default"> Sign Up </button>
			<p> Already have an account? Log in <a href="signin">here</a>. </p>
		</form>
	</div>
	</body>
</html>

