<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
		<form method="POST" action="http://localhost:3000/signup">
			First name:
			<br><input type="text" name="firstname"><br>  
			Last name:
			<br><input type="text" name="lastname"><br>
			Email<br><input type="text" name="email"><br>
			Password<br><input type="password" name="pw"><br><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
