<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	<body>
		<form method="POST" action="http://localhost:3000/signin">
			Email:
			<br><input type="text" name="email"><br>  
			Last name:
			<br><input type="password" name="password"><br><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
