<!DOCTYPE html>
<html>
    <head>
        <title>Band Search</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="/">Band Search</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left" method="post" action="/list">
						<div class="form-group">
							<input type="text" name="list_search" class="form-control" placeholder="Search members">
						</div>
						
						<button type="submit" class="btn btn-default">Submit</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/list">List</a></li>
						<li><a href="/suggestions">Suggestions</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								&#8801
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/profile">My Profile</a></li>
								<li><a href="/settings">Settings</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <div class="container">
			<h2>Band</h2>
			<% if(POSTmembers.length==0) {%>
				<p>Unfortunately you do not have any band yet!</p>
			<%} else {%>
            <p>Members:</p>
            <table class="table table-bordered">
                <thead class="active">
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
						<th>Nickname</th>
						<th>Instrument</th>
						<th>Region</th>
						<th>Genre</th>
						<th>Level</th>
						<th>Status</th>
                    </tr>
                </thead>
                <tbody>
					<% var genre_type; 
					if(POSTteamstatus==-1) genre_type="danger";
					if(POSTteamstatus==0) genre_type="warning";
					if(POSTteamstatus==1) genre_type="success";
					%>
					<% for(var i=0; i<POSTmembers.length; i++) { %>
						<tr class="<%=genre_type%>">
							<% for(var j=0; j<POSTmembers[i].length; j++) { %>
								<td>
									<%=POSTmembers[i][j]%>
								</td>
							<% } %>
						</tr>
					<% } %>
                </tbody>
            </table>
				<% if(POSTcurrent_user.answer_status==0) { %>
					<form method="POST" action="http://localhost:3000/suggestions">

					<select class="form-control" name="answer" style="width:75pt; margin-bottom:10pt">
						<option>Accept</option>
						<option>Refuse</option>
					</select>
					<div>
						<input type="submit" class="btn btn-info" value="Submit">
					</div>
					</form>
				<% } %>
			<% } %>
        </div>
    </body>

</html>
